* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cinema__container {
  text-align: center;
  .nameui {
    display: flex;
    justify-content: center;
    align-items: center;

    .nameli {
      font-size: 1rem;
    }
  }
}
